.header{
    background-color: #003580;
    color: white;
    display:flex;
    justify-content: center;
    position:relative;

} 

.headerContainer{
    width:100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display:flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Selects all elements with both name1 and name2 set within its class attribute / Selects all elements with name2 that is a descendant of an element with name1 */
.headerListItem.active{
    border:1px solid white;
    padding:10px;
    border-radius: 20px;
}

.headerDesc{
    margin : 20px 0px;
}

.headerBtn{
    background-color: #0071c2;
    color:white;
    font-weight: 500;
    border:none;
    padding:10px;
    cursor:pointer;
}

.headerSearch{
    display:flex;
    height:55px;
    border:3px solid #febb02;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position:absolute;
    bottom:-25px;
    width:100%;
    border-radius: 5px;
    max-width:1024px;
    padding:10px 0px;
}

.headerIcon{
    color:grey;
}

.headerSearchItem{
    display:flex;
    align-items: center;
    gap:10px;
}

.headerSearchInput{
    border:none;
    outline:none;
}

.headerSearchText{
    color:lightgray;
    cursor:pointer; 
}

.date{
    position: absolute;
    top: 55px;
}