.pList{
    display:flex;
    gap:20px;
    width:100%;
    max-width: 1024px;
    justify-content: space-between;
    margin-bottom: 18px;
}


.pListImg{
    width:240px;
    border-radius: 8px;
}

.pListTitles>h1{
    font-size: 20px;
}

.pListTitles>h2{
    font-size: 14px;
    color:grey;
}